.table{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px, 0;

  &__head{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
    font-size: 1.6rem;
  }
  &__headalt{
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
    font-size: 1.6rem;
  }
  &__body{
    font-size: 1.7rem;
  }
  &__bodyalt{
    font-size: 1.5rem;
  }

}



.table td, .table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:hover {background-color: #ddd;}

